plugins {
  id 'nf-azure'
}

process {
  executor = 'azurebatch'
  container = 'timbarry/nf_docker_demo:1.0'
}

azure {
  batch {
    location = 'East US'
    accountName = 'timsbatch'
    accountKey = 'E1znt3ywpFmVtpKMUVzDtZ9bwrrmadSEf4m7FSuaDasAtkEyJoKUMfA0jgy8P9hljeyFzlCNaz652d3AQaK0Xw=='
    autoPoolMode = true
  }
  storage {
    accountName = 'timstrgacnt'
    accountKey = '9xt/23FwAztPdVzEIXvtCMypEu9v93J4L8z4WRIJymM5mTmivUaG61elEujuJEkr6Qik5lIrNOOuFetttYIhSQ=='
  }
}
